build/

**.exe
**.lib
**.idb
**.ilk
**.pdb

#bin/[x86|x64]/[release|debug]/*.exe
#bin/[x86|x64]/[release|debug]/*.lib
#bin/[x86|x64]/[release|debug]/*.idb
#bin/[x86|x64]/[release|debug]/*.ilk
#bin/[x86|x64]/[release|debug]/*.pdb